@model Teacher

<div class="container mt-3 p-3 bg-dark rounded">
	<div class="row mt-2 open-sans">
		<div class="col my-auto text-white">
			<div class="container align-self-center">
				<h2 class="bold">@Model.FirstName @Model.MiddleName @Model.LastName</h2>
				<h4>Преподавател по @Model.Subject.FullName</h4>
				<hr class="bg-info" style="height: 1px;" />
				<h5>@Model.Biography</h5>
			</div>
		</div>
		<div class="col my-auto">
			<div class="container-sm">
				<img class="img-fluid" src="~/images/teachers/@(Model.Username).png" />
			</div>
		</div>
	</div>
</div>
<div class="container">
	<br />
</div>