@model List<Article> 

<header class="masthead" style="background-image: url('../../images/banners/cand.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1 class="open-sans custom-heading">@Display.PageTitle</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto pb-3">
			@foreach (Article article in Model)
			{
			<div class="post-preview">
				@if (article.Content is not null)
				{
					<a asp-controller="article" asp-action="open" asp-route-id="@article.Id">
						<h2 class="post-title bold">
							@article.Title
						</h2>
						@if (article.Subtitle is not null)
						{
							<h4 class="post-subtitle">
								@article.Subtitle
							</h4>
						}
					</a>
				}
				else if (article.FilePath is not null)
				{
					if (article.Type.Name == "HelpfulLink")
					{
						<a href="@article.FilePath">
							<h2 class="post-title bold">
								@article.Title
							</h2>
							@if (article.Subtitle is not null)
							{
								<h4 class="post-subtitle">
									@article.Subtitle
								</h4>
							}
						</a>
					}
					else
					{
						<a href="~/@article.FilePath">
							<h2 class="post-title bold">
								@article.Title
							</h2>
							@if (article.Subtitle is not null)
							{
								<h4 class="post-subtitle">
									@article.Subtitle
								</h4>
							}
						</a>
					}
				}
				else
				{
					<a>
						<h2 class="post-title bold">
							@article.Title
						</h2>
					</a>
				}
			</div>
				<hr>
			}
		</div>
	</div>
</div>